.pessoa_imagem {
    background-size: cover;
    border-radius: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin: 0 auto;
    width: 300px;
}

.pessoa_imagem--roberta {
    background-image: url(../../../assets/img/pessoas/roberta.jpg);
}

.pessoa_imagem--marcela {
    background-image: url(../../../assets/img/pessoas/marcela.jpg);
}

.pessoa_imagem--andreia {
    background-image: url(../../../assets/img/pessoas/andreia.jpg);
}